.base_window_login {
    display: flex;
    background: wheat;
    height: 590px;
    width: 890px;
    margin: 10% 25% 25% 25%;
    padding: 150px 0;
    border-radius: 15px;
    border: 3px solid black;
}

.base_window_login button{
    color: white;
    text-decoration: none;
    background: #ed9a22;
    box-shadow: 0 -3px rgb(190, 102, 0) inset;
    transition: 0.2s;
} 
.base_window_login button:hover { 
    background: #eca94a; 
}
.base_window_login button:active {
    background: #a16209;
    box-shadow: 0 3px rgb(190, 102, 0) inset;
}
