.base_window_login {
    display: flex;
    background: black;
    height: 590px;
    width: 890px;
    margin: 10% 25% 25% 25%;
    border-radius: 15px;
    border: 10px solid white;
}
.logo_background{
    background: url(../media/index/logo.jpg) no-repeat; 
    margin-left: 220px;
    margin-top: 100px;
	width: 196px;
	height: 42px;
}
.container {
    text-align: center;
    width: 100%;
}
#id_password{
    margin-left: 93px;
    margin-top: 20px;
}


.container .logo_background{
    padding-bottom: 100px;
}

p {
    color: white;
}

strong{
    color: #ed9a22;
}

.vopr{
    margin-top:30px;
    text-align: center;
}

.base_window_login button{
    margin-top: 20px;
    margin-left: 320px;
    font-weight: 1000;
    color: white;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border-radius: 3px;
    background: #ed9a22;
    box-shadow: 0 -3px rgb(190, 102, 0) inset;
    transition: 0.2s;
} 
.base_window_login button:hover { 
    background: #eca94a; 
}
.base_window_login button:active {
    background: #a16209;
    box-shadow: 0 3px rgb(190, 102, 0) inset;
}