.mes-e {
    color: red;
    border: 2px solid red;
    border-radius: 10px;
    background: #e3e3e3;
    padding: 10px;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.mes-s {
    z-index: 99999;
    color: #00B945;
    border: 2px solid #00B945;
    border-radius: 10px;
    background: #e3e3e3;
    padding: 10px;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.mes-w {
    z-index: 99999;
    color: #D8A601;
    border: 2px solid #D8A601;
    border-radius: 10px;
    background: #e3e3e3;
    padding: 10px;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.mes-i {
    z-index: 99999;
    color: #0191D8;
    border: 2px solid #0191D8;
    border-radius: 10px;
    background: #e3e3e3;
    padding: 10px;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.messages {
    margin-top: 90px;
    display: flex;
    width: 100%;
    position: absolute;
}
