.not-auth-comments {
    width:100%;
    text-align: center;
}

.not-auth-comments-position {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.not-auth-comments-text {
    font-family: 'El Messiri', sans-serif;
    font-size: 30px;
}

.but_comments {
    text-align:center;
    font-family: 'El Messiri', sans-serif;
    width:100%;
    border: 1px solid #7c7c7c;
    padding: 12px;
    border-radius: 3px;
    font-size: 26px;
}

.but_comments:active {
    background: #d3d2d2;
}

.but_comments:hover {
    background: #d3d2d2;
}
