.do_it {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
	align-items: flex-start;
    max-width: 1100px;
	margin-left: auto;
    margin-right: auto;
	color: white;
}


.card {
  margin-top: 6px;
  --bg-filter-opacity: 0.1;
  background-image: linear-gradient(rgba(0, 0, 0,var(--bg-filter-opacity)),rgba(6,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 13em;
  width: 15em;
  font-size: 1.5em;
  color: white;
  border: 0.4px solid #adacac;
  border-radius: 0.2em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 2em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.card:hover {
  --bg-filter-opacity: 0.2;
  background-image: linear-gradient(rgba(0, 0, 0,var(--bg-filter-opacity)),rgba(6,0,0,var(--bg-filter-opacity))), var(--bg-img);;
}


.card .title_main {
  text-shadow: 0 0 3px black, 0 0 5px rgb(0, 0, 0);
  font-size: 1em;
  line-height: 1.1em;
  font-family: 'Fira Code', monospace;
}

.card #body_text {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 1em;
}

.card .tags {
    display: flex;
}

.card .date {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.75em;
  background: #9c9c9c;
  font: 15px "Oswald", sans-serif;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
  color: black;
  font-weight: 600;
}

.new_class {
  position: absolute;
  bottom: 5%;
  left: 3%;
}

.star2 {
    position: absolute;
    top: 0;
    right: 0;
    opacity: .8;
    padding: 5px 10px;
    background: #9c9c9c;
}


@media screen and (max-width: 1160px){
    .do_it {
        max-width: 1043px;
        margin: auto;
        margin-top: 30px;
    }
    .card-grid-space{
        width: 340px;
    }
    .card{
        height: 350px;
        width: 340px;
    }
}

@media screen and (max-width: 1040px){
    .do_it {
        max-width: 979px;
        margin-top: 50px;
        margin-top: 30px;
    }

    .card-grid-space{
        width: 324px;
    }
    .card{
        height: 330px;
        width: 320px;
    }

}


@media screen and (max-width: 998px){
    .do_it {
        max-width: 946px;
        margin: auto;
        margin-top: 30px;
    }
    .card-grid-space{
        width: 314px;
    }
    .card{
        height: 320px;
        width: 310px;
    }
}

@media screen and (max-width: 953px){
    .do_it {
        max-width: 901px;
        margin: auto;
        margin-top: 30px;
    }

    .card-grid-space{
        width: 300px;
    }

    .card{
        height: 300px;
        width: 295px;
    }

    .card .title_main {
      text-shadow: 0 0 3px black, 0 0 5px rgb(0, 0, 0);
      font-size: 20px;
      line-height: 1.1em;
    }
}

@media screen and (max-width: 920px){
    .do_it {
        max-width: 605px;
        margin: auto;
        margin-top: 30px;
    }

}

@media screen and (max-width: 620px){
    .do_it {
        max-width: 523px;
        margin: auto;
        margin-top: 30px;
    }

    .card-grid-space{
        width: 260px;
    }
    .card{
        height: 270px;
        width: 255px;
    }

    .card .title_main {
      text-shadow: 0 0 3px black, 0 0 5px rgb(0, 0, 0);
      font-size:20px;
      line-height: 1.1em;
    }

}

@media screen and (max-width: 540px){
    .card-grid-space{
        width: 320px;
    }
    .card{
        height: 340px;
        width: 315px;
    }

    .card .title_main {
      text-shadow: 0 0 3px black, 0 0 5px rgb(0, 0, 0);
      font-size: 1.1em;
      line-height: 1.1em;
    }

}
