
.base_window_registr {
    display: flex;
    background: wheat;
    height: 600px;
    margin: 100px 300px;
    padding: 30px;
    width: 1000px;
    border-radius: 15px;
    border: 3px solid black;
}

.base_window_registr button{
    color: white;
    text-decoration: none;
    border-radius: 3px;
    background: #ed9a22;
    box-shadow: 0 -3px rgb(190, 102, 0) inset;
    transition: 0.2s;
} 
.base_window_registr button:hover { 
    background: #eca94a; 
}
.base_window_registr button:active {
    background: #a16209;
    box-shadow: 0 3px rgb(190, 102, 0) inset;
}
.errorlist {
    display: none;
}

