
@media screen and (min-width: 450px){
    .form-item, .form-actions{
        display: none;
    }
}
@media screen and (max-width: 450px){

    .form-item {
        display: inline-flex;
}

#search-block-form{
    width:300px;
    height:43px;
    border-radius:15px;
    border:#929191 solid 2px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1%;
    }
.focus-active{
    border-color:rgb(153, 145, 145) !important;
    background:#fff !important;
    }
#search-block-form input{
    padding:0;
    margin:0;
    display:block;
    border:none;
    outline:none;
    background:none;
    width:100%;
    height:100%;
    }
/* #search-block-form .form-actions{
    width:28px;
    height:28px;
    float:left;
    background:url({% static 'images/icons/favicn.ico'%}) 5px 2px no-repeat;
    } */
#search-block-form .form-actions input:hover{
    cursor:pointer;
    }
#search-block-form .form-actions input{
    overflow:hidden;
    text-indent:-9999px;
    }
#search-block-form .form-item{
    width:auto;
    padding:5px 10px;
    height:38px;
    }
#search-block-form .form-item input{
    font:13px/16px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color:rgb(51, 48, 48);
    height:auto !important;
    padding:6px 0;
    }
}
