
@media screen and (max-width : 725px) { 
	.carousel-caption h1{
		font-size: 20px;
		transform: translateY(-60%);
		font-family: 'Oswald', sans-serif;
	}
	.carousel-caption h5{
		display: none;
	}
	.carousel-caption button {
		size: 30px;
		transform: translateY(-80%);

	}
	#button-zakladki{
		display: none;
	}
}

@media screen and (max-width : 397px) { 
	.carousel-caption button{
		font-size:15px;
		transform: translateY(-60px);
	}
	.carousel-caption h1{
		text-shadow: 1px 1px 20px #000;
		transform: translateY(-80%);
		font-family: 'Oswald', sans-serif;
	}
}

/* ДЕЛАЮ АДАПТАЦИЮ САМОГО БИЛБЛОРДА */
@media screen and (min-width : 1160px){
	.carousel-inner {
		height: 100%;
	}
	#slides {
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}
}


.carousel-inner {
	text-align: center;
}

.carousel-inner img{
	width: 100%;
	height: 100%;
	border: 2px solid white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	
}
.carousel-caption{
	position: absolute;
	top: 50%;
	transform: translateY(-30%);
	text-shadow: 1px 1px 10px #000;
}


#btn-color {
	background: #ed9a22;
	color: white;
	text-shadow: 3px 3px 10px #000;
}

.buttom_two {
	margin-top: 30px;
}

/* 
#bilboard_id {
	height: 100%;
} */
.carousel-caption h1{
	color: white;
	text-shadow: 0 0 3px black, 0 0 5px rgb(143, 143, 151);

}

#button-zakladki {
	color: white;
	text-shadow: 0 0 3px black, 0 0 5px rgb(143, 143, 151);
}