.bilboard-main {
    max-width: 1110px;
    margin: auto;
}
/* Slideshow container */
.slideshow {
    display: flex;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 5px;
    border-radius: 2px;
    margin: 0px 10px 0 10px;

    max-width: 800px;
    max-height: 400px;
}

.slideshow:hover {
    -webkit-filter: brightness(90%);
    filter: brightness(90%);
    cursor: pointer;

}
.img-slide {
    width: 800px;
    min-height: 300px;
    min-width: 500px;
    border-radius: 2px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  color: white;
  width: auto;
  /* margin-top: -22px; */
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(255,255,255,0.4);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(255,255,255,0.6);
}

/* Caption text */
.bilboard-text {
  padding: 8px 10%;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.bilboard-text-h {
    text-shadow: 0 0 3px black, 0 0 5px rgb(0, 0, 0);
    line-height: 1.2em;
    font-size: 31px;
    font-family: 'Fira Code', monospace;
}

/* Fading animation */
.fades {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@media screen and (max-width: 1040px) {
    .bilboard-main {
        max-width: 1120px;
        margin: 0 10px 0 10px;
    }
    .slideshow {
        margin: auto;
    }
}

@media screen and (max-width:450px){
    .img-slide {
        transform: translateX(-213px);
    }
}

@media screen and (max-width:790px) {
    .bilboard-text-h {
        font-size: 1.6em;
    }
    .bilboard-text {
      padding: 0px 10%;
    }
}

@media screen and (max-width:550px) {
    .prev, .next {
      padding: 10px;
    }
    .bilboard-text-h {
        font-size: 1.7em;
        font-weight: bold;
    }
    .bilboard-text {
      padding: 0px 10%;
    }
}
