.bilboard-main {
    max-width: 1110px;
    margin: 90px auto 0 auto;
}
/* Slideshow container */
.slideshow {
    display: flex;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 5px;
    border-radius: 2px;
    margin: 0px 10px 0 10px;
    -webkit-filter: brightness(90%);
    filter: brightness(90%);
    max-width: 800px;
    max-height: 400px;
}

.slideshow:hover {
    -webkit-filter: brightness(85%);
    filter: brightness(85%);
    cursor: pointer;

}
.img-slide {
  width: 800px;
  height: 400px;
  min-height: 300px;
  object-fit: cover;
  border-radius: 2px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  color: white;
  width: auto;
  /* margin-top: -22px; */
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(255,255,255,0.4);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(255,255,255,0.6);
}

/* Caption text */
.bilboard-text {
  /* padding: 8px 10%; */
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.bilboard-text-h {
    text-shadow: 0 0 3px black, 0 0 5px rgb(0, 0, 0);
    line-height: 1.2em;
    font-size: 31px;
    background: linear-gradient( rgba(0, 0, 0, 0.5) , rgba(0, 0, 0, 0.5) );
    font-family: 'Fira Code', monospace;
}

/* Fading animation */
.fades {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@media screen and (max-width: 1040px) {
    .bilboard-main {
        max-width: 1120px;
        margin: 90px 10px 0 10px;
    }
    .slideshow {
        margin: auto;
    }
}

@media screen and (max-width:790px) {
    /* .bilboard-text-h {
        font-size: 1.6em;
    } */
    .img-slide {
      width: 790px;
  }
}

@media screen and (max-width:730px) {
  .img-slide {
    width: 730px;
}
}

@media screen and (max-width:650px) {
  .img-slide {
    width: 650px;
  }
}

@media screen and (max-width:600px) {
  .img-slide {
    width: 600px;
}
}

@media screen and (max-width:550px) {
    .prev, .next {
      padding: 10px;
    }
    .bilboard-text-h {
        font-size: 1.7em;
        font-weight: bold;
    }

    .img-slide {
      width: 550px;
  }
}
@media screen and (max-width:500px) {
  .img-slide {
    width: 500px;
  }
}

@media screen and (max-width:450px) {
  .img-slide {
    width: 450px;
  }
}

@media screen and (max-width:400px) {
  .img-slide {
    width: 400px;
  }
}

@media screen and (max-width:380px) {
  .img-slide {
    width: 380px;
  }
}