* {
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 13px;
}
a{
	text-decoration: none;
}
body {
	display: flex;
	flex-direction: column;
}

/* СТИЛИ ДЛЯ ОТОБРАЖЕНИЯ ПОСТОВ НА ГЛАВНОЙ СТРАНИЦЕ */

.bacground-wallpapers {
    background: rgb(211, 210, 210);
}

.do_it {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    align-items: flex-start;
}

