* {
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 18px;
}
a{
	text-decoration: none;
}
body {
	background: #fff;
}

.menu{
	background: #ed9a22;
	padding: 25px;
}

.menu{
	display: flex;
}

.menu div {
	flex: 1;
	height: 42px;
}

.logo{
	background: url(../media/index/logo.jpg) no-repeat;
	width: 196px;
	height: 42px;
	margin-left: 10px;
}
.logo a{
	padding: 1px 1px 22px 195px;
}

.but1{
	max-width: 270px;
}

.but1 a{
	display: inline-block;
	background: #ed9a22;
	text-align: center;
	padding: 9px;
	color:white;
	border: 1px solid white;
	border-radius: 5px;
}

.line{
	max-width: 1px;
	border-radius: 5px;
	margin-right: 20px;
	background: #fff;
}

.but2{
	max-width: 150px;
}

.but2 a{
	display: block;
	text-align: center;
	color: black;
	border: 1px solid black;
	border-radius: 5px;
	padding: 7px 0px 7px 0px;
}

.but22{
	max-width: 60px;
	margin-left: 10px;
}

.but22 a{
	display: block;
	text-align: center;
	color: black;
	border: 1px solid black;
	border-radius: 5px;
	padding: 7px 0px 7px 0px;
}