* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

a {
	text-decoration: none;
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #525151;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  	-o-transition: all 0.4s;
  	-moz-transition: all 0.4s;
}

a:hover {
	text-decoration: none;
	color: #ed9a22
}

ul, li {
	list-style-type: none;
}

p {
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
}

body {
	background: rgb(211, 210, 210) !important;
}

input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}
/* СТИЛИ ДЛЯ ОТОБРАЖЕНИЯ ПОСТОВ НА ГЛАВНОЙ СТРАНИЦЕ */

.zagolovok_index {
	margin: 10px auto 20px auto;
}

.zagolovok {
	max-width: 1110px;
  }

.zagolovok_style {
	margin: 0 10px;
	border-bottom: 1px solid rgb(124, 124, 124);
  font-size: 35px;
}



#toTop {
	right: 30px;
	z-index: 99999;
	bottom: 30px;
  	position: fixed;
  	display: none;
  	text-decoration: none;
  	text-shadow: 0 -1px 2px rgba(0,0,0,.2);
	text-align: center;
  	outline: none;
  	border-radius: 50%;
	margin-left: 3px;
  	cursor: pointer;
  	background: rgb(163, 163, 163);
  	box-shadow:
   0 1px rgba(255,255,255,.2) inset,
   0 3px 5px rgba(0,1,6,.5),
   0 0 1px 1px rgba(0,1,6,.2);
  	transition: .2s ease-in-out;

}


#toTop:hover {
		background: #969799;
}


/* @media screen and (max-width: 1298px){
	.toTop {
		display: none;
	}
} */
