
@media screen and (min-width: 1110px){
    .posts_display {
        width: 1110px;
        margin: auto;
        padding-bottom: 50px;
    }
}
@media screen and (max-width: 1110px){
    .posts_display {
        max-width: 750px;
        margin: auto;
        padding-bottom: 50px;
    }
}
