@media screen and (max-width: 517px){
    .main_in_select {
        margin-top: 10%;
        width: auto;
        border: none;
        padding-left: 1%;
    }
}

@media screen and (min-width: 517px){
    .main_in_select {
        margin-right: auto;
        margin-left: auto;
        margin-top: 5%;
        width: 500px;
    }
}
#cat-cont .select_a {
    display: inline-block;
    margin-top: 16px;
    margin-right: 1px;
  }
  
  #cat-cont .select_a a {
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 14px;
    background-color: #908e8e;
    color: #1d1b1b;
    white-space: nowrap;
    border-radius: 18px;
  }
  
  #cat-cont .select_a a:hover {
    background-color: #ed9a22;
  }