{% load static %}
<!DOCTYPE html>
<html leng="ru">
<head>
	<title>
        {% block title_block %}

        {% endblock %}
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="{% static 'images/icons/favicn.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!-- NAVBAR and FOOTER LINK -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tags_list.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/favorites.css' %}">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{% static 'js/button_to_bottom.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>
    <!-- BOOTSTRAP LINK -->

    {% block links %}

    {% endblock %}
</head>
<body>
    <!-- ШАПКА САЙТА -->
	<div class="" >
		{% include "polls/includes/navbar.html" %}
	</div>
	<div class="toTop">
		<div id = "toTop" ><img  src="{% static 'images/icons/up.ico' %}" alt=""></div>
	</div>
    <!-- ОСНОВНОЙ КОНТЕНТ -->
    {% block content %}
        К СОЖЕЛЕНИЮ, на данный момент нет контента
    {% endblock %}


</body>
</html>
