{% extends 'polls/base.html' %}
{% load static %}
	{% block links %}
	<!-- Compiled and minified JavaScript -->
	<link href="https://fonts.googleapis.com/css?family=Oswald:600&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>


	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slider.css' %}">
	<link rel="stylesheet" href="{% static 'css/post_model.css' %}">
	
	<link rel="stylesheet" type="text/css" href="{% static 'css/login/main.css' %}">

		
	{% endblock %}

	{% block title_block %}
		Главная
	{% endblock %}
	
{% block content %}
	<body>
			<!-- АДАПТИВНЫЙ БИЛБОРД -->
			{% include "polls/includes/slider.html" %}
		<div class="bacground-wallpapers">
			{% include "polls/includes/posts.html" %}
			<!-- Подвал сайта -->

			{% include "polls/includes/footer.html" %}
			<!-- Конец подвала сайта -->
		</div>
	</body>
{% endblock %}