{% extends 'polls/base.html' %}
{% load static %}
	{% block links %}
	<!-- Compiled and minified JavaScript -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/slider.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/post_model.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/pagination.css' %}">
	<script type="text/javascript" src="{% static 'js/ajax_for_favorites.js' %}"></script>
	{% endblock %}

	{% block title_block %}
		Главная
	{% endblock %}

{% block content %}
		<!-- АДАПТИВНЫЙ БИЛБОРД и ЦИТАТА-->
		{% if page_object.number == 1 %}
		<div class="mb-wrap mb-style-1">
			{% include "polls/includes/blockquote.html" %}
		</div>
			{% include "polls/includes/slider.html" %}
		<div class="zagolovok zagolovok_index">
		  <p class="zagolovok_style">Лента</p>
		</div>
		{% else %}
		<div class="zagolovok zagolovok_index">
		  <p class="zagolovok_style">Лента</p>
		</div>
		{% endif %}

		<div class="do_it" id="slides" style="margin-bottom: 50px;">
			{% for post in page_object.object_list %}
				{% include "polls/includes/posts.html" %}
			{% endfor %}
		</div>
		{% include "polls/includes/pagination.html" %}
		<div class="footer_main">		<!-- Подвал сайта -->
			{% include "polls/includes/footer.html" %}
		</div>	<!-- Конец подвала сайта -->
{% endblock %}
