{% load static %}
<!DOCTYPE html>
<html>
<head>
	<!-- <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
	<title>Главная</title>

	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
	<div class="wrapper">
		<!-- Шапка сайта со всей фигней -->
		{% include "polls/includes/navbar.html" %}
		<!-- Конец шапки сайта -->

		<!-- Основной контент -->
		<div class="main">
			<div class="hmincontent">
				<div class="leftline"></div>
				<div class="rightline"></div>
				<div class="contentmenu">
						<!-- СЛАЙДЕР -->
					<div class="slide"> 
						<div class="all">
							<input checked type="radio" name="respond" id="desktop">
								<article id="slider">
										<input checked type="radio" name="slider" id="switch1">
										<input type="radio" name="slider" id="switch2">
										<input type="radio" name="slider" id="switch3">
									<div id="slides">
										<div id="overflow">
											<div class="image">
												<article><img src="static/media/bilboard/1.jpg"></article>
												<article><img src="static/media/bilboard/2.jpg"></article>
												<article><img src="static/media/bilboard/3.jpg"></article>
											</div>
										</div>
									</div>
								
									<div id="controls">
										<div class="controls1">
											<label for="switch1"></label>
											<label for="switch2"></label>
											<label for="switch3"></label>
										</div>
									</div>								
									<div id="active">
										<label for="switch1"></label>
										<label for="switch2"></label>
										<label for="switch3"></label>
									</div>
								</article>
						</div>
					</div>
						<!-- КОНЕЦ СЛАЙДЕРА -->
					<div class="ads"> 
						<h1>МЕСТО ДЛЯ РЕКЛАМЫ</h1>
						<!-- Размер РЕКЛАМЫ: 400h x 280w -->
					</div>
				</div>			
				<!-- ПОСТЫ В МОЕМ БЛОГГЕ БУДУТ РАССПОЛОГАТЬСЯ ТАК: -->
					<div class="twitter"> 
						{% for post in posts %}
						<div>
							<p class="publikacia-time-raspolojenie">{{ post.published_date }}</p>
							<h1 class="zagolovok_posta_kotoriy_budet_pereadresovivat_peoples"><a href="">{{ post.title }}</a></h1>
							<p class="text_savogo_posta">{{ post.text|linebreaksbr }}</p>
						</div>
						{% endfor %}
					</div>
				<!-- НА ЭТОМ ЗАКАНЧИВАЕТСЯ КОД С ПОСТАМИ -->

			</div>
		</div> 
		<!-- Конец основного контента -->

		<!-- Подвал сайта -->
		{% include "polls/includes/footer.html" %}
		<!-- Конец подвала сайта -->
	</div> 
</body>
</html>