{% extends 'polls/base.html' %}
{% load static %}

{% block title_block %}
    {{ post.title }}
{% endblock %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/post_detail.css' %}">

    <script type="text/javascript" src="{% static 'js/ajax_for_favorites.js' %}"></script>
{% endblock %}

{% block content %}
<style media="screen">
    .add-to-favorites {
        background-repeat: no-repeat;
        background-image: url("{% static 'images/icons/star.png' %}");
    }
    .add-to-favorites.added {
        background-repeat: no-repeat;
        background-image: url("{% static 'images/icons/pointed-star.png' %}");
    }
</style>
    <div class="post_structure">
        <div class="category_datePub">

            {% for tag in post.tags.all %}
                <a href="{% url 'polls:tag_detail' slug=tag.slug %}" style="border-bottom: 1px solid #576197; font-size: 15px;">
                    Категория: {{ tag.title }}
                </a>
            {% endfor %}
            <p style="margin-left: 25px">
            {{ post.date_pub|date:"j E Y"}}
            </p>

            <div class="star">
                {% include 'favorites/includes/add_to_favorites.html' with type="post" id=post.id %}
            </div>
        </div>

        <div class="title_post_detail">
            <h1 class="nt-6">
                    {{ post.title }}
            </h1>
        </div>

        <div class="share_link_for_post">
            <!— AddToAny BEGIN —>
            <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                <a class="a2a_button_copy_link"></a>
                <a class="a2a_button_vk"></a>
                <a class="a2a_button_facebook"></a>
                <a class="a2a_button_twitter"></a>
                <a class="a2a_button_email"></a>
                <a class="a2a_button_telegram"></a>
                <a class="a2a_button_odnoklassniki"></a>
            </div>
            <script async src="https://static.addtoany.com/menu/page.js"></script>
            <!— AddToAny END —>
        </div>

        <div class="body_of_post">
            {% autoescape off %}
                {{ post.body }}
            {% endautoescape %}
        </div>

        <div class="line"></div>
    <div class="block_comments">
        <div id="disqus_thread"></div>
        <script>
            (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://self-made-people.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the
            <a href="https://disqus.com/?ref_noscript">
                comments powered by Disqus.
            </a>
        </noscript>
    </div>
    </div>

    {% include "polls/includes/footer.html" %}
{% endblock %}
