{% extends 'polls/base.html' %}
{% load static %}

{% block title_block %}
    {{ post.title }}
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/comments.css' %}">
    <script src="{% static 'js/ajax_for_favorites.js' %}"></script>
{% endblock %}

{% block content %}
<style media="screen">
    .add-to-favorites {
        background-repeat: no-repeat;
        background-image: url("{% static 'images/icons/star.png' %}");
    }
    .add-to-favorites.added {
        background-repeat: no-repeat;
        background-image: url("{% static 'images/icons/pointed-star.png' %}");
    }
</style>
<div class="post-detail-block">
    <div class="post_structure">
        <div class="title_post_detail">
            <h1 class="title-h1">
                {{ post.title }}
            </h1>
        </div>
        <div class="category_datePub">
            <p>
                <img src="https://img.icons8.com/cotton/64/000000/time.png" width="25"/>{{ post.date_pub|date:"j E Y"}}
            </p>
        </div>

        <div class="share_link_for_post">
            <!— AddToAny BEGIN —>
            <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                <a class="a2a_button_copy_link"></a>
                <a class="a2a_button_vk"></a>
                <a class="a2a_button_facebook"></a>
                <a class="a2a_button_twitter"></a>
                <a class="a2a_button_email"></a>
                <a class="a2a_button_telegram"></a>
                <a class="a2a_button_odnoklassniki"></a>
                <div class="star">
                    {% include 'favorites/includes/add_to_favorites.html' with type="post" id=post.id %}
                </div>
            </div>
            <script async src="https://static.addtoany.com/menu/page.js"></script>
            <!— AddToAny END —>
        </div>
        <hr>
        <div class="body_of_post">
            {% autoescape off %}
                <span>{{ post.body }}</span>
            {% endautoescape %}
        </div>
        <hr>
        <div class="tags-post-detail">
            {% for tag in post.tags.all %}
            <a href="{% url 'polls:tag_detail' slug=tag.slug %}">
                {{ tag.title }}
            </a>
            {% endfor %}
        </div>
        <hr>
        <div class="comment-section">
            {% include 'polls/includes/comments.html' %}
        </div>
    </div>
    <!-- <div class="ads-post-detail"> </div> -->
</div>

<script src="{% static 'js/comments.js' %}"> </script>
<script src="{% static 'ajax/comments.js' %}"></script>
{% endblock %}
