{% extends 'polls/layout.html' %}
{% block title %}
    <title>
        Регистрация
    </title>
{% endblock %}

{% block login %}
    <div class="base_window_registr">
        <div class="form_of_register">
        <form method="POST">
            <div class="logo_background"></div>
            {% csrf_token %}
            {{form.as_p}} 
            <button class = "btn btn-outline-info" type = "submit" > Зарегистрироваться </button> 
        </form>
        <div class="vopr">
        <p class="Vopros">Уже зарегистрированы?</p>
        <a href="{% url 'polls:login' %}" target="blank"><strong>Войти</strong></a>
        </div>
        </div>
    </div>
{% endblock%}