{% extends 'polls/base.html' %}
{% load static %}

{% block title_block %}
    Восстановление пароля
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/auth/login.css' %}">
{% endblock %}

{% block content %}
<div class="block_auth">
    <h6 style="padding-bottom: 50px;" class="login_title">
        На вашу почту было отправлено письмо с ссылкой для восстановления
        пароля. Если вдруг вы не обнаружите письма:<br>
        <hr>
        1- Проверьте папку спам.<br>
        2- Убедитесь, что вы указали именно тот адресс электроной почты, к
        которому был привязан аккаунт.
    </h6>
</div>
{% endblock %}
