{% extends 'polls/base.html' %}
{% load static %}

{% block title_block %}
    Новый пароль
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/auth/login.css' %}">
{% endblock %}

{% block content %}
<div class="block_auth">
{% if validlink %}
    <h6 class="login_title">
        Придумайте новый пароль
    </h6>
        <form class="forms_auth" method="post">
          {% csrf_token %}
          <div class="field_input">
              {% for field in form %}

                  <!-- блок появления ошибок при неверных данных -->
                  <div class="form-users-group">
                      {% if field.errors %}
                          <div class="error-p">
                              {{ field.errors }}
                          </div>
                      {% endif %}
                  </div>

                  <label for="{{ field.label }}">{{ field.label }}</label>
                  {{ field }}
                  <p></p>
              {% endfor %}
             </div>
             <input class="but_auth" type="submit" value="изменить">
        </form>
{% else %}
    <h6 style="padding-bottom: 50px;" class="login_title">
        Ссылка для сброса пароля недействительна.<br> Возможно потому,
         что она уже использовалась.<br><br> <hr>Пожалуйста, запросите новый сброс
         пароля."
     </h6>
{% endif %}
</div>
{% endblock %}
