{% extends 'polls/base.html' %}
{% load static %}

{% block title_block %}
    Восстановление пароля
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/auth/login.css' %}">
{% endblock %}

{% block content %}
<div class="block_auth">
    <h6 class="login_title">
        Введите данные, для сброса пароля
    </h6>
    <form class="forms_auth" action="{% url 'users:password_reset' %}" method="post">
        {% csrf_token %}
        <div class="field_input">
            <div class="error-p">{{ form.email.errors }}</div>
            <label for="{{ field.label }}">{{ form.email.label }}</label>
            {{ form.email }}

            <div class="error-p">{{ form.captcha.errors }}</div>
            {% include 'users/includes/captcha.html' %}
        </div>
        <input class="but_auth" type="submit" value="продолжить">
    </form>
</div>
{% include 'users/includes/reload_capture.html' %}
{% include "polls/includes/footer.html" %}
{% endblock %}
