{% extends 'polls/base.html' %}
{% load static %}

{% block title_block %}
    Восстановление пароля
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/auth/login.css' %}">
{% endblock %}

{% block content %}
<div class="block_auth">
    <h6 class="login_title">
        Вы успешно изменили пароль.<br><hr>
        Восспользуйтесь этой кнопкой, для входа в аккаунт:
        <br><br>
        <a class="but_auth" href="{% url 'users:login' %}">
            <p style="color: white;padding: 13px;">Вход</p>
        </a>
     </h6>
</div>
{% endblock %}
