{% extends 'polls/base.html' %}
{% load static %}

{% block title_block %}
    Профиль {{ request.user.login_user }}
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/profile/profile.css' %}">
{% endblock %}

{% block content %}
<div class="account-container tabs">
    <div class="sidebar-profile tabs__nav">
        <a class="tabs__link tabs__link_active" href="#content-1">Основные настройки</a>
        <a class="tabs__link" href="#content-2">Пароль</a>
        <a class="tabs__link" href="#content-3">Почта и логин</a>
    </div>
    <div class="information tabs__content">

        <div class="information-blocks tabs__pane tabs__pane_show" id="content-1">
            <h2 class="disc-inf">Основные настройки</h2>
            <div class="image_ava">
                <img id="image" class="image_ava-img" src="{{ user.profile.picture.url }}" alt="">
            </div>
            <form class="" action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="upload-image">
                    <p class="image-upload-button">выбрать изображение <img src="{% static 'images/icons/upload_image.png' %}" alt=""></p>
                    {{ p_form.picture }}
                </label>
                <br>
                <button class="button-submit-profile" type="submit" name="button">Применить</button>
            </form>
        </div>

        <div class="information-blocks tabs__pane" id="content-2">
            <h2 class="disc-inf">Смена пароля</h2>

        </div>

        <div class="information-blocks tabs__pane" id="content-3">
            <h2 class="disc-inf">Настройки почты и логина</h2>

        </div>

    </div>
</div>
<script>
function readURL(input) {

if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function (e) {
        $('#image').attr('src', e.target.result);
    };

    reader.readAsDataURL(input.files[0]);
}
}

$("#upload-image").change(function(){
readURL(this);
});

var $tabs = function (target) {
  var
    _elemTabs = (typeof target === 'string' ? document.querySelector(target) : target),
    _eventTabsShow,
    _showTab = function (tabsLinkTarget) {
      var tabsPaneTarget, tabsLinkActive, tabsPaneShow;
      tabsPaneTarget = document.querySelector(tabsLinkTarget.getAttribute('href'));
      tabsLinkActive = tabsLinkTarget.parentElement.querySelector('.tabs__link_active');
      tabsPaneShow = tabsPaneTarget.parentElement.querySelector('.tabs__pane_show');
      // если следующая вкладка равна активной, то завершаем работу
      if (tabsLinkTarget === tabsLinkActive) {
        return;
      }
      // удаляем классы у текущих активных элементов
      if (tabsLinkActive !== null) {
        tabsLinkActive.classList.remove('tabs__link_active');
      }
      if (tabsPaneShow !== null) {
        tabsPaneShow.classList.remove('tabs__pane_show');
      }
      // добавляем классы к элементам (в завимости от выбранной вкладки)
      tabsLinkTarget.classList.add('tabs__link_active');
      tabsPaneTarget.classList.add('tabs__pane_show');
      document.dispatchEvent(_eventTabsShow);
    },
    _switchTabTo = function (tabsLinkIndex) {
      var tabsLinks = _elemTabs.querySelectorAll('.tabs__link');
      if (tabsLinks.length > 0) {
        if (tabsLinkIndex > tabsLinks.length) {
          tabsLinkIndex = tabsLinks.length;
        } else if (tabsLinkIndex < 1) {
          tabsLinkIndex = 1;
        }
        _showTab(tabsLinks[tabsLinkIndex - 1]);
      }
    };

  _eventTabsShow = new CustomEvent('tab.show', { detail: _elemTabs });

  _elemTabs.addEventListener('click', function (e) {
    var tabsLinkTarget = e.target;
    // завершаем выполнение функции, если кликнули не по ссылке
    if (!tabsLinkTarget.classList.contains('tabs__link')) {
      return;
    }
    // отменяем стандартное действие
    e.preventDefault();
    _showTab(tabsLinkTarget);
  });

  return {
    showTab: function (target) {
      _showTab(target);
    },
    switchTabTo: function (index) {
      _switchTabTo(index);
    }
  }

};

$tabs('.tabs');
</script>
{% endblock %}
