{% extends 'polls/base.html' %}
{% load static %}

{% block title_block %}
    Регистрация
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/auth/login.css' %}">
{% endblock %}

{% block content %}
<div class="block_auth">
    <h6 class="login_title">
        Создание аккаунта
    </h6>
    <form class="forms_auth" action="{% url 'users:user_create_url' %}" method="post">
        {% csrf_token %}
        <div class="field_input">
            <div class="error-p">{{ form.login_user.errors }}</div>
            <label for="{{ field.label }}">{{ form.login_user.label }}</label>
            {{ form.login_user }}

            <div class="error-p">{{ form.email.errors }}</div>
            <label for="{{ field.label }}">{{ form.email.label }}</label>
            {{ form.email }}

            <div class="error-p">{{ form.password2.errors }}</div>
            <label for="{{ field.label }}">{{ form.password1.label }}</label>
            {{ form.password1 }}
            <label for="{{ field.label }}">{{ form.password2.label }}</label>
            {{ form.password2 }}

            <div class="error-p">{{ form.captcha.errors }}</div>
            {% include 'users/includes/captcha.html' %}
        </div>
        <input class="but_auth" type="submit" value="регистрация">
    </form>
</div>
{% include 'users/includes/reload_capture.html' %}ы
{% endblock %}
