{% load static %}
<h4>
    {% if comment.count == 0 %}
        Будьте первым, кто оставит комментарий
    {% else %}
        Комментариев: {{ comment.count }}
    {% endif %}
</h4>
<hr>
{% for comments in comment %}
    <div class="comment-block">
        <!-- БЛОК КОММЕНТАРИЕВ ДЛЯ СТАТЬИ -->
        <div class="box-comment">
            <div class="comment-avatar"><img width="50" src="{% static 'images/icons/noava.png' %}"></div>
            <div class="comment-data">
                <h4 class="comment-login">{{ comments.author.login_user }}</h4>
                <p class="comment-p">{{ comments.body }}</p>
                <span>{{ comments.created_time }}</span>
                {% if request.user.is_authenticated %}
                <div class="nav1" style="display:inline-block">
                    <a onclick="showHide('form-answ{{ comments.id }}')"
                    href="#form-answ{{ comments.id }}">
                    | Ответить
                    </a>
                </div>
                {% else %}
                    <a style="font-weight: bold" href="{% url 'users:login' %}"> | Ответить</a>
                {% endif %}
                <hr>
            </div>
        </div>
        <!-- БЛОК КОММЕНТАРИЕВ ДЛЯ ОТВЕТА НА КОММЕНТАРИИ -->
        {% for parent_comment_id in comments.replies.all %}
            <div class="parent-comment">
                <div class="parent-avatar"><img width="40" src="{% static 'images/icons/noava.png' %}"></div>
                <div class="parent-data">
                    <h4 class="parent-login">{{ parent_comment_id.author.login_user }}</h4>
                    <p class="parent-p">{{ parent_comment_id.body }}</p>
                    <span>{{ parent_comment_id.created_time }}</span>
                    <hr>
                </div>
            </div>
        {% endfor %}
<!-- -----------------------ОСТВЕТИТЬ НА ГОТОВЫЙ КОММЕНТАРИЙ------------------------ -->

        {% if request.user.is_authenticated %}
            <div id="form-answ{{ comments.id }}" class="comment-input-block-replie" style="display:none">
                <p style="float:left">Ответ для {{ comments.author.login_user }}:</p>
                <form action="{% url 'polls:post_detail_url' slug=post.slug%}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="comments_id" value="{{ comments.id }}">
                    {{ form_class.as_p }}
                    <button class="but_comment" type="submit" name="button">Ответить</button>
                </form>
            </div>
        {% endif %}
    </div>
{% endfor %}
<!-- -----------------------ОСТАВИТЬ КОММЕНТАРИЙ К СТАТЬЕ------------------------ -->
<hr>
{% if request.user.is_authenticated %}
    <form class="comment-input-block" action="{% url 'polls:post_detail_url' slug=post.slug%}" method="post">
        {% csrf_token %}
            {{ form_class.as_p }}
            <button class="but_comment" type="submit" name="button">Оставить комментарий</button>
    </form>
{% else %}
    <div class="login-for-comments">
        <hr>
        <h5>
            <a class="auth-for-comment" href="{% url 'users:login' %}">Войдите</a>
             в систему или
             <a class="auth-for-comment" href="{% url 'users:user_create_url' %}">зарегистрируйтесь</a>,
             чтобы оставить комментарии
         </h5>
    </div>
{% endif %}
