{% load static %}
<h4 class="comments-main-text">
    {% if comment.count == 0 %}
        Будьте первым, кто оставит комментарий
    {% else %}
        Комментариев: {{ comment.count }}
        {% if user.is_authenticated %}
        <a href="#write_comment" style="font-family: 'Ubuntu', sans-serif;font-size:17px; border-bottom: 1px solid #ed9a22;"> <br>оставить комментарий</a>
        {% endif %}
        <br>
        {{ comment.replies.count}}
    {% endif %}
</h4>

<div class="comment-block">
{% for comments in comment %}
        <!-- БЛОК КОММЕНТАРИЕВ ДЛЯ СТАТЬИ -->
        <div class="box-comment">
            <div class="comment-avatar"><img src="{{ comments.author.profile.picture.url }}"></div>
            <div class="comment-data">
                <h4 class="comment-login">{{ comments.author.login_user }}
                    {% if request.user.id == comments.author.id %}
                    <a href="{% url 'polls:comment_remove' slug=post.slug pk=comments.pk %}">
                        <span style="float:right; height:25px; height:25px; width:25px; background-image: url({% static 'images/icons/cancel.png' %})">
                        </span>
                    </a>
                    {% endif %}
                </h4>
                <p class="comment-p">{{ comments.body }}</p>
                <span>{{ comments.created_time }}</span>
                {% if request.user.is_authenticated %}
                <div class="nav1" style="display:inline-block;font-weight: bold">
                    <a style="margin-left:5px;color: #868788; font-weight:bold; border-bottom: 1px solid #868788;" onclick="showHide('form-answ{{ comments.id }}')"
                    href="#form-answ{{ comments.id }}">
                    ответить
                    </a>
                </div>
                {% else %}
                {% endif %}
                <br>
                    {% if comments.replies.count > 0 %}
                    <button onclick="showHide('answers{{ comments.id }}')" type="button" name="button">
                        <strong style="color: #587ea3">показать ответы</strong>
                    </button>
                    {% endif %}
                <hr>
            </div>
        </div>
        <!-- БЛОК КОММЕНТАРИЕВ ДЛЯ ОТВЕТА НА КОММЕНТАРИИ -->
        <div id="answers{{ comments.id }}" style="display:none; flex-direction:column">
            {% for parent_comment_id in comments.replies.all %}
            <div class="parent-comment">
                <div class="parent-avatar"><img src="{{ parent_comment_id.author.profile.picture.url }}"></div>
                <div class="parent-data">
                    <h4 class="parent-login">{{ parent_comment_id.author.login_user }}
                        {% if request.user.id == parent_comment_id.author.id %}
                        <a href="{% url 'polls:comment_remove' slug=post.slug pk=parent_comment_id.pk %}">
                            <span style="background-size:20px 20px;float:right;height:20px; width:20px; background-image: url({% static 'images/icons/cancel.png' %})">
                            </span>
                        </a>
                        {% endif %}
                    </h4>
                    <p class="parent-p">{{ parent_comment_id.body }}</p>
                    <span>{{ parent_comment_id.created_time }}</span>
                    <hr>
                </div>
            </div>
            {% endfor %}
        </div>
<!-- -----------------------ОСТВЕТИТЬ НА ГОТОВЫЙ КОММЕНТАРИЙ------------------------ -->

        {% if request.user.is_authenticated %}
            <div id="form-answ{{ comments.id }}" class="comment-input-block-replie" style="display:none">
                <p style="float:left">Ответ для {{ comments.author.login_user }}:</p>
                <form class="comment-input-block" action="." method="post">
                    {% csrf_token %}
                    <input type="hidden" name="comments_id" value="{{ comments.id }}">
                    {{ form_class.body }}
                    <button class="but_comment" type="submit" name="button">Ответить</button>
                </form>
            </div>
        {% endif %}
        {% endfor %}
    </div>
<!-- -----------------------ОСТАВИТЬ КОММЕНТАРИЙ К СТАТЬЕ------------------------ -->
{% if request.user.is_authenticated %}
    <div class="comment-input-block-d">
        <form id="write_comment" class="comment-input-block" action="." 
              method="post">
            {% csrf_token %}
                {{ form_class.body }}
                <button class="but_comment" type="submit" 
                        name="button">Оставить комментарий</button>
        </form>
    </div>
{% else %}
    <div class="login-for-comments">
        <hr>
        <h5>
            <a class="auth-for-comment" 
               href="{% url 'users:login' %}">Войдите</a>
             в систему или
             <a class="auth-for-comment" 
                href="{% url 'users:user_create_url' %}">зарегистрируйтесь</a>,
             чтобы оставить комментарии
         </h5>
    </div>
{% endif %}
