<footer class="flex-rw">

    <ul class="footer-list-top">
      <li>
        <h4 class="footer-list-header">Главные категории</h4></li>
      <li><a href='{% url "polls:tag_detail" slug="daynews" %}' class="generic-anchor footer-list-anchor" itemprop="significantLink">Новость дня</a></li>
      <li><a href='{% url "polls:tag_detail" slug="allnews" %}' class="generic-anchor footer-list-anchor" itemprop="significantLink">Все новости</a></li>
      <li><a href='{% url "polls:tag_detail" slug="success_story" %}' class="generic-anchor footer-list-anchor" itemprop="significantLink">Истории успеха</a></li>
      <li><a href='{% url "polls:tag_detail" slug="top_advice" %}' class="generic-anchor footer-list-anchor" itemprop="significantLink">Топ советы</a></li>
       <li><a href='{% url "polls:tag_detail" slug="business_world" %}' class="generic-anchor footer-list-anchor" itemprop="significantLink">Мир бизнеса</a></li>
     </ul>

    <ul class="footer-list-top">
      <li id='help'>
        <h4 class="footer-list-header">Помощь проекту</h4></li>
      <li><a href='/shop/about-contact' class="generic-anchor footer-list-anchor" itemprop="significantLink">О нас</a></li>
      <li><a href='/faq.html' class="generic-anchor footer-list-anchor" itemprop="significantLink">Донат</a></li>
      <li id='find-a-store'><a href='/shop/store-locator' class="generic-anchor footer-list-anchor" itemprop="significantLink">Контакты</a></li>
      <li id='user-registration'><a href='/shop/user-registration?URL=' class="generic-anchor footer-list-anchor" itemprop="significantLink">Реклама</a></li>
      <li id='user-registration'><a href='/shop/user-registration?URL=' class="generic-anchor footer-list-anchor" itemprop="significantLink">Рекомендации</a></li>
    </ul>
    <div class="share_link_for_post" style="margin-right:auto; margin-left:auto;">
        <!— AddToAny BEGIN —>
        <div class="a2a_kit a2a_kit_size_32 a2a_default_style" style="margin-top: 20px; margin-right: auto: margin-left:auto">
            <a class="a2a_button_copy_link"></a>
            <a class="a2a_button_vk"></a>
            <a class="a2a_button_facebook"></a>
            <a class="a2a_button_twitter"></a>
            <a class="a2a_button_email"></a>
            <a class="a2a_button_telegram"></a>
            <a class="a2a_button_odnoklassniki"></a>
        </div>
        <script async src="https://static.addtoany.com/menu/page.js"></script>
        <!— AddToAny END —>
    </div>
    <section class="footer-bottom-section flex-rw">
  <div class="footer-bottom-wrapper">
  <i class="fa fa-copyright" role="copyright">

  </i> 2019 Daniil <address class="footer-address" role="company address">Khlistunov, Sevastopol</address><span class="footer-bottom-rights"> - All Rights Reserved - </span>
      </div>
      <div class="footer-bottom-wrapper">
      <a href="/terms-of-use.html" class="generic-anchor" rel="nofollow">Terms</a> | <a href="/privacy-policy.html" class="generic-anchor" rel="nofollow">Privacy</a>
        </div>
    </section>
  </footer>
