<nav class="navbar navbar-expand-md navbar-light bg-dark sticky-top">
    <div class="container-fluid">
        <a href="{% url 'polls:index'  %}" class="navbar-brad"><img src="../static/media/index/logo.jpg"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link">О нас</a>
                </li>
                
                <li class="nav-item">
                    <a href="#" class="nav-link">Товары</a>
                </li>

                <li class="nav-item">
                        <a href="#" class="nav-link">Закладки</a>
                    </li>

                <div class="line"></div>

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'polls:logout' %}" class="nav-link active">Выход</a>
                </li>
                <li class="nav-item">
                    <a href="/" class="nav-link_active">{{user.username|title}}</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{% url 'polls:register'  %}" class="nav-link active">Регистрация</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'polls:login'  %}" class="nav-link active">Вход</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>