{% load static %}
<nav class="navbar navbar-expand-md navbar-light" id="navbar">
    <div class="bar-items">
        <a href="{% url 'polls:index' %}" class="navbar-brad">Lincoln</a>
        <div class="toggle" onclick="myFunctionToggle(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <div class="navbar-items" id="myLinks">
            <form class="searchbar" action="{% url 'polls:search_article' %}">
                <input class="search_input" autocomplete="off" type="text" name="search" placeholder="Поиск статьи...">
                <button type="submit" class="search_icon"><i class="fas fa-search"></i></button>
            </form>
            <div class="block-drop">
                <button class="dropbtn" onclick="myFunction()">Еще 	&rsaquo;
                </button>
                <div class="dropdown-content" id="myDropdown">
                    {% if request.user.is_authenticated %}
                    <a class="nav-link" href="/">Аккаунт</a>
                    <a class="nav-link" href="{% url 'users:logout' %}">Выход</a>
                    {% else %}
                    <a class="nav-link" href="{% url 'users:login' %}">Вход</a>
                    <a class="nav-link" href="{% url 'users:user_create_url' %}">Регистрация</a>
                    {% endif %}
                    <a class="nav-link" href="/">О нас</a>
                </div>
            </div>

            <a href="{% url 'favorites:list' %}" class="nav-link">Избранное</a>
            <a href="{% url 'polls:tags_list' %}" class="nav-link">Категории</a>
            <a href="{% url 'polls:index'  %}" class="nav-link">Лента</a>
        </div>
    </div>
</nav>
