{% load static %}
<style media="screen">
    .add-to-favorites {
        background-repeat: no-repeat;
        background-image: url("{% static 'images/icons/star.png' %}");
    }
    .add-to-favorites.added {
        background-repeat: no-repeat;
        background-image: url("{% static 'images/icons/pointed-star.png' %}");
    }
</style>
{% autoescape off %}
    <nav class="cards-wrapper" style="margin-right: auto; margin-left: auto; align-items: flex-end;">
        <div class="card-grid-space">
            {% if post.article_image %}
                <a class="card" href="{% url 'polls:post_detail_url' slug=post.slug %}" style="--bg-img: url('{{ post.article_image.url}}')">
                    <div class="date">{{ post.date_pub|date:"j E Y"}}</div>
                    <div class="star2">
                        {% include 'favorites/includes/add_to_favorites.html' with type="post" id=post.id %}
                    </div>
                    <div class="new_class">
                        <h1 class="title_main" style="color: rgb(243, 237, 237); margin-bottom: 10px">{{ post.title|truncatewords:22 }}</h1>
                    </div>
                </a>
            {% endif %}
        </div>
    </nav>
{% endautoescape %}
