<div class="carousel slide" data-ride="carousel" id="slides">
    <div>
        <meta data-target="#slides" class="active"></meta>
    </div>  
    <div class="carousel-inner">
  
        <div class="carousel-item active">
            <img src="../static/media/bilboard/mount.jpg">
  
            <div class="carousel-caption">
  
                <h1 class="display-5" id="h1-color-slider">ТОП 10 для тех, кто верит в себя!</h1>
                <h5 class="heshtag_belive">#believe</h5>
                
                <div class="buttom_two">
                <button type="button" class="btn btn-outline-light btn-lg" id="button-zakladki" >закладки</button>
                <button type="button" class="btn btn-lg" id="btn-color">Перейти</button>
                </div>
  
            </div>
  
        </div>
    </div>
</div>
  