{% load static %}
<div class="carousel slide" data-ride="carousel" id="slides">
    <div>
        <meta data-target="#slides" class="active">
    </div>
    <div class="carousel-inner" style="box-shadow: 0 4px 30px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);">
        <div class="carousel-item active" id="bilboard_id">
            <img src="{% static 'media/bilboard/mount.jpg' %}">

            <div class="carousel-caption">

                <h1 class="display-6" id="h1-color-slider">
                    новости дня
                </h1>
                <h1 class="display-2" id="h1-color-slider">
                    не пропусти!
                </h1>
                <div class="buttom_1">
                    <a class="buttom_two" style="font-family: Poppins-Regular;" href="{% url 'polls:tag_detail' slug='daynews' %}">
                        Переход
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>
