{% load static %}
<div class="slideshow">
    <!-- Full-width images with number and caption text -->
    {% for posts in postsB %}
        <div class="mySlides fades">
            {% if posts.article_image %}
            <a href="{% url 'polls:post_detail_url' slug=posts.slug %}">
                <img class="img-slide"  width="800" height="400" src="{{ posts.article_image.url }}">
                    <div class="bilboard-text">
                    <h1 class="bilboard-text-h" style="color: rgb(243, 237, 237); margin-bottom: 10px">
                        {{ posts.title }}
                    </h1>
                </div>
            </a>
            {% endif %}
        </div>
    {% endfor %}
    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>


    <!-- The dots/circles -->

    <script src="{% static 'js/slider.js' %}">

    </script>
