{% extends 'polls/base.html' %}
{% load static %}

{% block title_block %}
    Логин
{% endblock %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/auth/login.css' %}">
{% endblock %}


{% block content %}
<div class="zagolovok">
    <p class="zagolovok_style">Авторизация</p>
</div>
        <div class="block_auth">
            <h6 class="login_title">
                {% if form.errors %}
                    Логин или пароль были введены не верно
                    {% else %}
                        Заполните поля для входа в аккаунт
                {% endif %}
            </h6>
            <form class="form1" action="{% url 'polls:login' %}" method="post">
                {% csrf_token %}
                <div class="field_input">
                    <label for="id_username"></label>
                    <input spellcheck="false" class="un " id="id_username"type="text" name="username" align="center" placeholder="логин" autocomplete="off">

                    <label for="id_password"></label>
                    <input class="pass" id="id_password" type="password" name="password" value="" placeholder="пароль">
                </div>
                <input type="hidden" name="next" value="{{ next }}">

                <input class="but_auth" type="submit" value="войти">

            </form>

            <div class="login_detail">
                <p>Забыли пароль? <a class="link_login_detail" href="{% url 'polls:password_reset' %}">Восстановить</a></p>
                <p>Нет аккаунта? <a class="link_login_detail" href="{% url 'polls:register'%}">Регистрация</a></p>
            </div>
        </div>
        {% include "polls/includes/footer.html" %}
{% endblock %}
