{% extends 'polls/base.html' %}
{% load static %}

{% block title_block %}
    Настройки
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/auth/login.css' %}">
{% endblock %}

{% block content %}
<div class="zagolovok">
    <p class="zagolovok_style">Управление аккаунтом</p>
</div>
    <div class="block_auth">
        <div style="padding: 25px;" class="login_title">
            Вы успешно сменили пароль!
            <br>
            <br>
             <a style="border: 1px solid #7c7c7c; padding: 10px; border-radius: 3px;" href="{% url 'polls:index' %}">Перейти в ленту новостей</a>
        </div>
    </div>


{% endblock %}
