{% extends 'polls/base.html' %}
{% load static %}

{% block title_block %}
    Настройки
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/auth/login.css' %}">
{% endblock %}

{% block content %}


<!-- НОВАЯ ФОРМА  -->
<div class="block_auth">
    <div class="login_title">
        Заполните необходимые данные
    </div>

    <form class="form1" action="." method="post">
        <div class="field_input">
            <label for="id_old_password"></label>
            <input class="un" type="password" name="old_password"
            required id="id_old_password" value="" placeholder="введите старый пароль">

            <label for="id_new_password1"></label>
            <input class="un" type="password" name="new_password1"
            required id="id_new_password1" value="" placeholder="придумайте новый пароль">

            <label for="id_new_password2"></label>
            <input style="transform: translateY(-25px);" class="pass" type="password" name="new_password2"
            required id="id_new_password2" value="" placeholder="повторите новый пароль">

            {% csrf_token %}
        </div>
        <input class="but_auth" type="submit" name="" value="сменить пароль">
    </form>
    <div class="toggle_show_recom">

            <li onClick="toggle_show('bla-bla2')">
                <div  class="">
                    <button style="width:100%"class="btn_recom"><u class="cherta">показать рекомендации</u></button>
                </div>
                <div class="">
                <ul id="bla-bla2" style="display: none" class="border-li">
                    <li class="li_pass">пароль не должен совпадать с вашим именем или другой персональной информацией или быть  слишком похожим на неё.</li>
                    <li class="li_pass">пароль должен содержать как минимум 8 символов.</li>
                    <li class="li_pass">пароль не может быть одним из широко распространённых паролей.</li>
                    <li class="li_pass">пароль не может состоять только из цифр.</li>
                </ul>
                </div>
            </li>

    </div>
    <div id="dropDownSelect1"></div>
    <script type="text/javascript">
        function toggle_show(id) {
            document.getElementById(id).style.display = document.getElementById(id).style.display == 'none' ? 'block' : 'none';
        }
    </script>
</div>



{% endblock %}
