{% extends 'polls/base.html' %}
{% load static %}

{% block title_block %}
    Логин
{% endblock %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/auth/reset.css' %}">
{% endblock %}

{% block content %}
<div class="zagolovok">
    <p class="zagolovok_style">Восстановление пароля</p>
</div>
<div class="block_auth">
    <div class="email_title">
        Введите адрес электронной почты, который указывали при регистрации
    </div>
    <form class="" action="." method="post">
        <div class="field_input">
            <label for="id_email"></label>
            <input autocomplete="off" class="un"type="email" name="email" required id="id_email" placeholder="адрес почты">
            <input class="but_auth" type="submit" name="" value="отправить">
            {% csrf_token %}
        </div>
    </form>
</div>
{% endblock %}
