{% extends 'polls/base.html' %}
{% load static %}

{% block title_block %}
    Логин
{% endblock %}


{% block content %}
<div class="zagolovok">
    <p class="zagolovok_style">Восстановление пароля</p>
</div>
<h1>Восстановление пароля</h1>
{% if validlink %}
    <p>Введите ваш новый пароль дважды:</p>
    <form class="" action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" name="" value="Принять"></p>
    </form>
{% else %}
    <p>
        Ссылка сброса пароля неизвестна,
        возможно она уже используется.
        Пожалуйста, запросите новую ссылку
        восстановления пароля
    </p>
{% endif %}
{% endblock %}
